/* Navbar */

/* Vertical Divider */
.navbar .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}

/* Parallax */

body, html {
    height: 100%;
}

.parallax { 
    background-image: url("../img/hero.jpg");

    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 800px) {
    .parallax {
        background-position: center; }
}

.parallax .jumbotron {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.40);
    color:#2C3E50;
}