/* Navbar */

/* Vertical Divider */
.navbar .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}

/* Icon + Badge */
.icon-wrapper{
    position:relative;
    float:left;
}

*.icon-blue {color: #0088cc}
*.icon-grey {color: grey}
i {   
    width:100px;
    text-align:center;
    vertical-align:middle;
}
.badge{
    background: rgba(0,0,0,0.5);
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 50%;
    position:absolute;
    top:-13px;
    right:-8px;
    padding:5px;
}

/* Img */
img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Parallax */
body, html {
    height: 100%;
}

.parallax { 
    background-image: url("../img/hero.jpg");

    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 800px) {
    .parallax {
        background-position: center; }
}

.parallax .jumbotron {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.40);
    color:#2C3E50;
}